.creer-questions {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 98%;
    padding: 0 1% 1%;
    border-radius: 0.5em;
    box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.6)
}

.libele-params {
    color: var(--color-of-blue);
    font-size: 2em;
    height: 15%;
    display: flex;
    align-items: center;
}

.libele-params>h1 {
    margin: 1% 2%;
}

.questions-settings {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    border: 2px solid var(--color-of-blue);
}

.questions-settings form {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 2%;
    color: #000;
    position: relative;
}

.questions-settings form input,
.questions-settings form textarea,
.questions-settings form select {
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.096);
    text-indent: 2%;
    font-size: 2em;
    padding: 1% 0;
    border-right: 2px solid var(--color-of-blue);
    border-bottom: 2px solid var(--color-of-blue);
}

.question-form-group {
    display: flex;
    align-items: center;
    margin: 0.25% 0;
    padding: 1% 0;
}

.question-form-group:hover {
    background-color: #51bfd044;
}

.question-form-group:hover label {
    color: var(--color-of-orange);
}


/* les labels */

.question-form-group label {
    font-size: 2em;
    margin-right: 2%;
    color: var(--color-of-gold);
    cursor: pointer;
}


/* libele questioons */

.question-form-group textarea {
    height: 80px;
    width: 90%;
    resize: none;
}


/* tous les inputs enfants de cette balise form */

.question-form-group input {
    height: 40px;
}


/* nbr points */

.question-form-group input#nbr-points {
    width: 80px;
}

input[type=number] {
    appearance: textfield;
}

.reponse-class input[type="text"],
select {
    width: 70%;
    margin-right: 1%;
}

.question-form-group img {
    cursor: pointer;
}

.btn-add img {
    width: 50px;
    height: 50px;
}

.reponse-class input[type="checkbox"],
.reponse-class input[type="radio"],
.reponse-class img {
    width: 30px;
    height: 30px;
    margin-right: 1%;
}

.save-question {
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.save-question button {
    text-align: center;
    border: none;
    background-color: var(--color-of-blue);
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 2em;
    width: 200px;
    height: 60px;
    cursor: pointer;
}

.save-question button:hover {
    background-color: var(--color-of-orange);
}


/* **
***
***
***
***
 */


/* =============================================== */