:root {
    --color-of-header: #052426;
    --color-of-gray: #b9b9b9;
    --color-of-blue: #51bfd0;
    --color-of-whitesmoke: #f0eef1;
    --color-of-orange: #8d6d24;
}

body {
    /* background: url(<?= WEB_PUBLIC.'img'.DIRECTORY_SEPARATOR.'img-bg.jpg' ?>); */
    background: var(--color-of-header);
    /* background-attachment: fixed; */
    /* background-size: cover; */
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.RED-ERROR {
    color: red;
}


/**** 
*! HEADER - MENU 
****/

.main-header {
    width: 100%;
    height: 100px;
    background-color: var(--color-of-orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 100%;
    min-height: 100%;
    background-color: var(--color-of-blue);
}

.nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.nav ul li {
    width: 250px;
}

.nav ul li a {
    font-size: 1.75em;
    text-align: center;
}

.nav ul li a:hover {
    color: var(--color-of-orange);
}

#sign-in {
    justify-self: end;
}

#home {
    justify-self: start;
}

#log-out {
    justify-self: end;
}


/**** 
*
****/


/**** 
*! FOOTER 
****/