:root {
    --color-of-header: #052426;
    --color-of-gray: #b9b9b9;
    --color-of-blue: #51bfd0;
    --color-of-aqua: #39ddd6;
    --color-of-whitesmoke: #f0eef1;
    --color-of-orange: #8d6d24;
    --color-of-gold: #8d8070;
    --color-of-dashboard: #f2f2f2;
    --color-of-active-setting: #4daf7c;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --mor: 4px solid black;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.459)), url(../img/img-bg.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';
    /* overflow: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:visited,
a:active {
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.RED-ERROR {
    color: red;
}

.invisible {
    visibility: hidden;
}

.text-center {
    text-align: center;
}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
}


/**** 
*! HEADER - MENU 
****/

.main-header {
    width: 100%;
    height: 100px;
    background-color: var(--color-of-orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    color: #fff;
}

.main-header * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-of-header);
}

.nav {
    width: 100%;
    min-height: 100%;
}

.nav ul {
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.nav ul li {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.nav ul li a {
    font-size: 1.75em;
    text-align: center;
}

.nav ul li a:hover {
    color: var(--color-of-orange);
}

#logo img {
    width: 27%;
}

#label-game {
    position: absolute;
    right: 50%;
    left: 50%;
    width: 500px;
    transform: translateX(-50%);
}

#label-game h1 {
    font-size: 2.5em
}

#log-out {
    justify-self: end;
}


/**** 
*
****/


/**** 
*! FOOTER 
****/